.rating-field {
  caption-side: bottom;
}

.rating-field caption {
  margin: 5px 0 10px;
  padding: 0;
  color: #777;
  font-size: 12px;
}

.td-left,
.th-left {
  text-align: left;
}

.td-center,
.th-center {
  text-align: center;
}

.rating-selection {
  margin: 5px 10px 0;
}
